<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>RumahSehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js " th:remove="tag"></object>
</head>
<body>
  <nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Detail Appointment</h2>
                <br>
                <p th:text="'Kode: ' + ${appointment.code}"></p>
                <p th:unless="${appointment.isDone}">Status: Belum Selesai</p>
                <p th:if="${appointment.isDone}" > Status: Selesai</p>
                <p th:text="'Waktu Awal: ' + ${#temporals.format(appointment.startTime, 'dd MMMM yyyy HH:mm')}"></p>
                <p th:text="'Nama Dokter: ' + ${appointment.doctor.getName()}"></p>
                <p th:text="'Nama Pasien: ' + ${appointment.patient.getName()}"></p>
               
                
                <br>
                <a class="btn btn-primary" th:href="@{/}">Kembali</a>
                
                <a th:if="${role=='DOCTOR' and !appointment.isDone and appointment.prescription != null  and appointment.prescription.getIsDone()}" class="btn btn-primary" th:href="@{/appointment/save/} + ${appointment.code}" >Selesai</a>
                <button type="button" class="btn btn-primary" th:if="${role=='DOCTOR' and !appointment.isDone and appointment.prescription == null }"  data-bs-toggle="modal" href="#staticBackdrop">Selesai</button>


                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Perhatian</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Anda belum menambahkan resep untuk appointment ini
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  >Tutup</button>
                          <a class="btn btn-primary" th:href="@{/appointment/save/} + ${appointment.code}">Selesai</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <a th:if="${appointment.prescription != null}"  class="btn btn-primary" th:href="@{/prescription/detail/} + ${appointment.prescription.getId()}">Detail resep</a>
                <a  th:if="${appointment.prescription == null and !appointment.isDone and role=='DOCTOR' }" class="btn btn-primary" th:href="@{/prescription/add/} + ${appointment.code}">Add resep</a>
            </div>
        </div>
    </div>
</div>




</body>
 