<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>RumahSehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js " th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav> 
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Detail Resep</h2>
                <br>
                <p th:text="'Kode: ' + ${prescription.id}"></p>
                <p th:if="${!prescription.isDone}" th:text="'Status: Belum Selesai' "></p>
                <p th:if="${prescription.isDone}" th:text="'Status: Selesai'"></p>
                <p th:text="'Waktu Awal: ' + ${#temporals.format(prescription.createdAt, 'dd MMMM yyyy HH:mm')}"></p>
                <p th:text="'Nama Dokter: ' + ${prescription.appointment.getDoctor().getName()}"></p>
                <p th:text="'Nama Pasien: ' + ${prescription.appointment.getPatient().getName()}"></p>
                <p th:if="${prescription.confirmer == null}" th:text="'Nama Apoteker : - ' "></p>
                <p th:unless="${prescription.confirmer == null}" th:text="'Nama Apoteker : ' + ${prescription.confirmer.getName()} "></p>
                
                <br>

                <div th:if="${listDrugs.size() != 0}">
                    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Obat</th>
                                    <th>Jumlah</th>
                                    
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr th:each="drug, iterationStatus : ${listDrugs}"
                                    th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${drug.getDrug().getName()}"></td>
                                    <td th:text="${drug.quantity}"></td>
                                   
                                    
                                </tr>
                            </tbody>
                    
                        </table>
                        

                    
                </div>

                <div th:unless="*{listDrugs.size() != 0}">
                    <h2 th:text="'Tidak ada Daftar Obat'"></h2>
                </div>
                <a class="btn btn-primary" th:href="@{/}">Kembali</a>
                <a th:if="${isStockEnough and role=='APOTHECARY' and !prescription.isDone}" class="btn btn-primary" th:href="@{/prescription/save/} + ${prescription.id}">Selesai</a>
            
            </div>
        </div>
    </div>
</div>




</body>
 