<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drugs</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<nav></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Detail Obat</h2>
                <br>
                        <p th:text="'Id Drug: ' + ${drug.id}"></p>
                        <p th:text="'Nama Obat: ' + ${drug.name}"></p>
                        <p th:text="'Jumlah Stok: ' + ${drug.stock}"></p>
                        <p th:text="'Harga Obat: ' + ${drug.price}"></p>
                <br>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <a class="btn btn-sm btn-warning" th:href="@{/drug/update/} + ${drug.id}">Ubah Stok Obat</a>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-primary" href="/drug/viewall">Kembali</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>