<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View Patient</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar(page = 'User')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>List Patient</h2>
                <br>
                <a class="btn btn-primary" href="/">Beranda</a>
                <a th:href="@{/user/add-patient}" class="mx-2 btn btn-outline-success">Add Patient</a>
                <br>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Balance</th>
                        <th>Age</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient, iterationStatus : ${listPatient}"
                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${patient.email}"></td>
                        <td th:text="${patient.name}"></td>
                        <td th:text="${patient.username}"></td>
                        <td th:text="${patient.balance}"></td>
                        <td th:text="${patient.age}"></td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</div>

</body>

</html>