<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
  <head>
    <title>RumahSehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: font" th:remove="tag"></object>
  </head>
  <body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h1>All</h1>
    <div class="chart-container pb-5 mb-5" style="width: 80%">
      <canvas id="myChart"></canvas>
    </div>
    <div>
        <div th:replace="fragments/statistics/monthly :: form(${doctors})"></div>
        <div th:replace="fragments/statistics/yearly :: form(${doctors})"></div>
        <div th:replace="fragments/statistics/cumulative :: form(${doctors})"></div>

    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    $(document).ready(function () {
      const MONTHS = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      var path = "/api" + window.location.pathname + $(location).attr("search");
      console.log(path);
      $.ajax({
        url: path,
        method: "GET",
        dataType: "json",
        success: function (doctors) {
          console.log(doctors);

          const datasets = doctors.map((doctor, index) => {
            return {
              label: doctor.name,
              data: doctor.amount,
            };
          });
          console.log(datasets);
          const data = {
            labels: MONTHS,
            datasets: datasets,
          };

          const config = {
            type: "line",
            data: data,
            options: {
              responsive: true,
              plugins: {
                legend: {
                  position: "top",
                },
                title: {
                  display: true,
                  text: "Gaji Harian Dokter",
                },
              },
            },
          };
          const myChart = new Chart(document.getElementById("myChart"), config);

          console.log(doctors);
        },
      });
    });
  </script>
</html>
